#Main-container{
  position: relative;
  top: 10px;
  width: 1000px;
  left: 350px;
}

 /* ********************  Header ******************** */
#header{
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header h1{
  position: center;
  font-size: xx-large;
  font-weight: bold;
  color: gold;
}

/* **************************** */


/* ****************** Input button and Box *******************/
#input-container{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.label{
  position: relative;
  margin-top: 10px;
  left: 20px;
}

.input{
  display: block;
  border-radius: 20%;
  margin-top: 0px;
  margin-bottom: 5px;
}

button{
  position: relative;
  top: 10px;
  left: 250px;
  width: 100px;
  height: 35px;
  border-radius: 10%;
  background-color: red;
}

#box {
  padding:5px;
  width:200px;
  z-index:10;
  position:relative;  
}

#box form {
 background:#006699;
 padding:5px;
 display:block;
 position:absolute;
 top:27px;
}

#button {
  width:75px;
  background:#006699;
  color:#fff;
  padding:3px 10px;
  border:1px solid #006699;  
  margin-bottom:15px;  
  cursor:pointer;
}

input[type="submit"] {
  background:none;
  color:#fff;
  border:none;
  text-align:left;
  cursor:pointer;
}

 /* ************************* */

/* ------------------ Display cards Contacts -------------------- */
#header{
  margin-bottom: 10px;
}


.contact-card{
   display: flex;
   flex-direction: row; 
}

.contact-info{
   margin-top: 3px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 2px solid black;
   background-color: azure;
   height: 30px;
   padding-left: 12px;
   padding-right: 12px;
   border-radius: 10px;
   width: 96%;
}

.delete-btn{
  margin-top: 3px;
  width: 4%;
  background-color: azure;
  height: 30px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.delete-btn i {
  cursor:pointer;
}
.position{
  padding-left: 12px;
  width: 100%;
  color:crimson;
}


h3,p{
  color: black;
  font-size: large;
}


/* ********************************** */